@font-face {
    font-family: 'BMHanna Pro';
    src: url('../font/BMHANNAProOTF.otf') format("opentype");
    src: url('../font/BMHANNAPro.ttf') format("truetype");
}

.Screen {
    width: 100%;
    height: 100vh;
    float: left;
    display: flex;

}

.sidebar {
    background-color: rgb(223, 223, 223);
    float: left;
    display: flex;
    width: 30%;
    font-size: 2vh;
}

.option {
    cursor: pointer;
    font-size: large;
    list-style-type: none; float:left; margin-left:30px;


}

.content {
    background-color: rgb(119, 119, 119);
    margin-left: 5vh;
    margin-top: 5vh;
}

.sidebartitle{
    font-family: 'BMHanna Pro';
    font-size: 5vh;
    margin-left: 3vh;
    margin-top : 3vh;
}

.gobackBtn{
    font-size: large;
}

.screenoption{
    list-style-type: none; 
    float: column; 
    margin-bottom:10vh;
    font-family: 'BMHanna Pro';
    font-size: 3vh;
    margin-right: 6vh;
}