.select_2 {
    background-image: url(../home/background.png);
    height: 100vh;
    background-size: cover;
    text-align : center;
}
.selectScreen{
    border : 8px solid black;
}

.gobackBtn{
    font-size: 40px;
}