@font-face {
    font-family: 'BMHanna Pro';
    src: url('C:\Users\saere\OneDrive\바탕 화면\소프프 파이널\ID311_Final\src\font\BMHANNAProOTF.otf') format("opentype");
    src: url('C:\Users\saere\OneDrive\바탕 화면\소프프 파이널\ID311_Final\src\font\BMHANNAPro.ttf') format("truetype");
}

.furImg {
    width: 100%;

}

.colorpicker_title{
    font-family: 'BMHanna Pro';
    font-size: 3vh;
    color : rgb(0, 0, 0);
    font-weight :2;
    margin-bottom: 1vh;
}

.colorpicker{
    width: 100%;
    margin-top: 20px;
    vertical-align: middle;
}

.color{
    width:100%;
    margin-left: 1vh;
    vertical-align: middle;
}