
.floorplan {
    background-image: url(../home/background.png);
    height: 130vh;
    background-size: cover;
    text-align : center;
}

.Screen {
    width: 100%;
    float: left;
    height: 100vh;
    display: flex;

}

.sidebar {
    background-color: rgb(226, 226, 226);
}

.option {
    cursor: pointer;
}

.content {
    margin-left: 15px;
    margin-top: 15px;
}